* {
  font-family: space mono;
  font-weight: 700;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
