body {
  font-family: space mono;
  font-weight: 700;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $baseBackground;
}
body.dark {
  color: $black;
  background-color: $white;
}

html,
body {
  margin: 0;
}

.blur {
  filter: blur(4px);
}
.hidden {
  overflow: hidden;
}
