* {
  font-family: space mono;
  font-weight: 700;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html,
body {
  margin: 0;
}

.blur {
  filter: blur(4px);
}
