.connect-wallet-button {
  display: flex;
  align-items: center;
  button {
    border: 1px solid $black;
    text-decoration: none;
    color: $baseSalatGreen;
    padding: 7px 12px;
    background-color: $black;
    cursor: pointer;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
