.web3-button {
  border: 1px solid $black;
  text-decoration: none;
  color: $baseSalatGreen;
  padding: 15px;
  background-color: $black;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    background-color: $white;
    color: $black;
  }
}
