.formkit-messages {
  padding-left: 0;
  margin-top: 0;
}
.formkit-message {
  color: red;
  font-size: 12px;
  list-style-type: none;
}
.formkit-inner {
  position: relative;
}
.formkit-input {
  width: 100%;
  min-width: 170px;
  padding: 10px 0 10px 30px;
}
button.formkit-input {
  background-color: transparent;
  color: $baseSalatGreen;
  padding: 10px 15px;
}
.formkit-actions .formkit-wrapper {
  width: 100%;
  // text-align: right;
  margin-top: 15px;
  .formkit-input {
    min-width: 50%;
    width: 50%;
    cursor: pointer;
  }
}
// dark mode
.dark {
  .formkit-input {
    background-color: transparent;
    color: $black;
    border: 2px solid $black;
  }
  .formkit-actions {
    .formkit-input {
      background-color: $baseBackground;
      color: $white;
    }
  }
}

.formkit-prefix-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  width: 15px;
  transform: translateY(-50%);
}
.formkit-suffix-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -15px;
  width: 15px;
  transform: translateY(-50%);
}
