.loader {
  display: inline-grid;
  padding: 5px;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 9;

  &:before,
  &:after {
    content: "";
    grid-area: 1/1;
    height: 40px;
    aspect-ratio: 3;
    --c: #0000 64%, #d0fc03 66% 98%, #0000 101%; /* Змінено колір на #d0fc03 */
    background: radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
      radial-gradient(35% 146% at 50% -59%, var(--c)) 100% 100%;
    background-size: calc(200% / 3) 50%;
    background-repeat: repeat-x;
  }
  &:before {
    -webkit-mask: repeating-linear-gradient(90deg, #000 0 8%, #0000 0 15%);
  }
  &:after {
    clip-path: inset(0 100% 0 0);
    animation: l13 1.5s infinite linear;
  }
}

@keyframes l13 {
  50% {
    clip-path: inset(0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}
