.note {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  @media (min-width: $tablet) {
    flex-direction: row;
  }
  &__elem {
    flex-basis: calc(50% - 8px);
    position: relative;
    transition: 2s;
    height: 100%;
    &.new-note {
      -webkit-box-shadow: 0px 0px 30px 0px rgba(208, 252, 3, 1);
      -moz-box-shadow: 0px 0px 30px 0px rgba(208, 252, 3, 1);
      box-shadow: 0px 0px 30px 0px rgba(208, 252, 3, 1);
      transition: 2s;
    }
    &.fade-out {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  &__content {
    padding: 25px 30px;
    border: 2px solid $black;
    background-color: $baseSalatGreen;
  }
  &__block {
    gap: 15px;
    background-color: $baseSalatGreen;
    position: relative;
    &--text {
      color: $black;
      background-color: $baseSalatGreen;
    }
    &--title {
      color: $black;
      background-color: $baseSalatGreen;
      margin-top: 0;
    }
    &--time {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      right: 15px;
      font-size: 12px;
      color: $black;
      @media (min-width: $tablet) {
        font-size: 15px;
      }
    }
    &--url {
      font-size: 12px;
      color: $black;
      text-decoration: none;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    background-color: $baseSalatGreen;
  }
  &__footer--info {
    font-weight: 100;
    background-color: $baseSalatGreen;
    color: $black;
    font-size: 12px;
  }
  &__footer--more {
    border: 1px solid $black;
    text-decoration: none;
    color: $black;
    padding: 7px 12px;
    background-color: $baseSalatGreen;
    &:hover {
      background-color: $black;
      color: #d0fc03;
    }
  }
  &__menu-content {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      width: 20px;
      height: 3px;
      transform: rotate(-45deg);
      top: 25px;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #ffffff;
      width: 20px;
      height: 3px;
      transform: rotate(45deg);
      top: 25px;
    }
  }
  &__actions {
    position: absolute;
    top: -70px;
    right: 0;
    height: 50px;
    width: auto;
    height: auto;
    cursor: pointer;
  }
  &__menu {
    position: absolute;
    top: -5px;
    right: 0;
    cursor: pointer;
    width: 160px;
    height: 50px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.5s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
}
.dark {
  .note__close {
    &::after,
    &::before {
      background-color: $black;
    }
  }
}
