.auth {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
  &__tab {
    list-style-type: none;
    cursor: pointer;
    &.is-active {
      border-bottom: 2px solid $baseSalatGreen;
    }
  }
  .formkit-actions {
    .formkit-wrapper {
      .formkit-input {
        width: 100px;
        min-width: 100px;
        border: 1px solid #808080;
      }
    }
  }
}
