.notes-view {
  padding: 0 10px;
  gap: 10px;
  &__title {
    text-align: center;
    font-size: 40px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
  .web3-button {
    margin: 20px 0;
  }
}
