.notes-view {
  padding: 0 10px;
  gap: 10px;
  &__package-info {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
  }
  &__title {
    text-align: center;
    font-size: 40px;
    &--additional {
      margin-bottom: 0;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
  &__sort {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px 0;
    .formkit-input {
      cursor: pointer;
    }
  }
  .web3-button {
    margin: 20px 0;
  }
  button:disabled {
    cursor: no-drop;
    opacity: 0.5;
  }
}
